# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore 'further-modules.md' file.
further-modules.md

# Ignore '.env' file.
.env
.env.example

# Ignore Log directories and files.
logs/
*.log

# Ignore Compiled Python bytecode folders.
__pycache__/

# Ignore DB files.
*.sqlite3
*.sqlite
*.db