Asset Check-in Notification

An asset has been returned with the following details:

Asset ID: {{ asset.asset_id }}
Make/Model: {{ asset.make }} {{ asset.model }}
Returned By: {{ user.get_full_name|default:user.username }} ({{ user.email }})
Original Checkout Date: {{ checkout.checked_out_date|date:"F d, Y H:i" }}
Expected Return Date: {{ checkout.expected_return_date|date:"F d, Y H:i" }}
Actual Return Date: {{ checkout.actual_return_date|date:"F d, Y H:i" }}

This is an automated notification. You can view the full details in the IT Asset Tracking System.